/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:500,700&display=swap');

/* CSS Rules */

body {
  font-family: 'Muli', sans-serif;
}

.mainContainer {

}


/* CUSTOMIZING BOOTSTRAP DEFAULTS */

/* HEADER component */

.navbar-toggler {
  border: 2px black solid !important;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}

.navbar-toggler-icon {
  background-image: url('/img/menu-button.svg') !important;
}

#basic-navbar-nav {
  background-color: #f3f3f3;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  color: white;
  z-index: 100;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-direction: column;
    align-items: stretch;
  }

  #basic-navbar-nav {
    border: 0;
    background: none;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: black;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: blue;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: grey;
}

/* CAROUSEL IN EVIDENZA COMPONENT */

.carousel-control-next, .carousel-control-prev {
  width: 2%;
  background-color: #dae0e5;
}

/* -- desktop normal screens */

@media (min-width: 992px) {
  .carousel-control-next, .carousel-control-prev {
    width: 34px;
    height: 34px;
    margin-top: 6.5rem;
    background-color: black;
    border-radius: 50px;
  }
}

/* -- desktop x-large screens */

@media (min-width: 1250px) {
  .carousel-control-next, .carousel-control-prev {
    margin-top: 6rem;
  }
}

@media (min-width: 1250px) {
  .carousel-control-next, .carousel-control-prev {
    margin-top: 5rem;
  }
}
