.contattiContainer {
  z-index: 0;
  margin-top: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.mainTitle {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  margin-bottom: 30px !important;
}

.ctaBtn {
  background: yellow !important;
}


/* DESKTOP STYLES */

@media (min-width: 992px) {
  .catalogElemTitle {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-top: 0;
  }
}
