.footerContainer {
  width: 100vw;
  z-index: 0;
  margin-top: -5vh;
  margin-left: 0vw;
  margin-right: 0vw;
  /* height: 670px; */
  background-size: cover;
  padding-top: 160px;
  padding-bottom: 30px;
}

.rowDiv {
  width: 100%;
}

.footerContainer h1 {
  font-family: 'Playfair Display', serif;
}

.footerContentContainer {
  margin-left: 3vw;
  padding-top: 100px;
}

.socialIconsContainer img {
  padding-top: 3px;
  width: 30px;
  margin-right: 10px;
}

.formAndBtn {
  display: flex;
}

.newsletterForm {
  width: 290px;
}

.formAndBtn button {
  margin-left: 10px;
}

/*
  DESKTOP STYLES
 */

@media (min-width: 992px) {

  .footerContainer {
    /* height: 480px; */
    padding-top: 90px;
  }

  .footerContentContainer p {

  }

  .socialIconsContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footerContentContainer img {
    width: 50px;
    margin-right: 15px;
  }

}

/* ANIMATIONS */

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvrPop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvrPop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
