.librerieContainer {
  z-index: 0;
  margin-top: 3vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.librerieContainer h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}


/* DESKTOP STYzlE */

@media (min-width: 992px) {

  .librerieContainer {
    margin-top: 12vh;
    margin-left: 4vw;
    margin-right: 4vw;
  }
}
