.raccolteFondiContainer {
  z-index: 0;
  margin-top: 4vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.mainTitle {
  font-family: 'Playfair Display', serif;
  position: relative;
  z-index: 10;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.raccolteCardContent {
  background: url('/img/novacharta-salviamocod.jpg');
  background-position: center;
  background-size: cover;
  height: auto;
  min-height: 200px;
  border-radius: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* justify-content: center; */
}

.shadedHalf {
  width: 70%;
  height: auto;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 50px 50px 0;
  padding: 18px;
  color: white;
}

.ctaButton a {
  color: white !important;
}

/*
  DESKTOP STYLES
 */

@media (min-width: 992px) {

  .raccolteFondi {
    margin-top: 5vh;
    /* margin-left: 2vw;
    margin-right: 2vw; */
  }

  .mainTitle {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .shadedHalf {
    padding: 35px;
    width: 50%;
  }
}
